/* compiler.css */
/*
body
{
	background-color: #909193;
	background-image: url(images/background.jpg);
	background-repeat: repeat-x;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

h1 
{ 
    color: black;
	font-size:   20pt;
	font-weight: normal;
	font-style: normal;	
    border-bottom: 1px solid #dad8ed;  
}

h2
{
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size:   16pt;
	font-weight: normal;
	font-style: normal;	
}
*/
h1{
	font-weight: bold;
	text-align: center;
}
#btnCompile{
	width:200px;
	text-align: center;
}
.output{
	float:right;
	margin:;

}
.source{
	float:left;
	display: inline-block;
	width:100%;
}
#taSourceCode, #taOutput{
	width:500px;
	height:400px;
	resize: none;
	display: inline-block;
}
#taSourceCode{
	margin: 0px 10px 0px 0px;
}

#taOutput{
	margin: 0px 10px 0px 10px;
	border: 1px solid;
	border-color: rgb(169, 169, 169);
}
#numbers{
	width: 30px;
	height:400px;
	overflow: hidden;
	resize: none;
	font-family: monospace;
	display: inline-block;
}
#linenum{
	display:inline;
	height:400px;
}
.outer{
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
.container{
	margin: 10px;
}
.tab-content{
	border: 0px 1px 1px 1px;
}
th{
	padding: 10px!important;
}
td{
	padding:10px!important;
}
.tab-pane{
	min-height: 500px;
}